{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
        <script src="{% static "jquery/jquery.min.js" %}"></script>
        <script src="{% static "choosen/chosen.jquery.js" %}"></script>
        <script src="{% static 'django_js_reverse/js/reverse.js' %}"></script>
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %} " crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "choosen/chosen.css" %}">
        <link rel="stylesheet" href="{% static "mycss/style.css" %}">
        <meta charset="UTF-8">
        <meta name="csrf" content="{{ csrf_token }}">
        {% block script %}{% endblock %}
        <title>
            {% block title %}{% endblock %}
        </title>
    </head>
    <body class="bg-light">
    <header class="navbar-header">
        <div class="navbar navbar-dark bg-dark box-shadow">
            <a class="btn btn-dark mr-auto dialog-link" href={% url 'core:home' %}>Домой</a>
            {% if not login %}
                {% if user.is_authenticated %}
                    <a class="btn btn-dark ml-auto" href={% url 'core:logout' %} >Выйти</a>
                {% else %}
                    <a class="btn btn-dark ml-auto" href={% url 'core:login' %}>Войти</a>
                {% endif %}
            {% endif %}
        </div>
    </header>
    {% block body %}{% endblock %}
    </body>
</html>